$color-white: #FFFFFF;
$color-theme: #FF7373;
$color-extralightgray: #F8F8F8;
$color-lightgray: #70707066;
$color-gray: #BBBBBB;
$color-darkgray: #616365;
$color-dark: #222529;
$color-shadow: rgba(34, 37, 41, 0.06);

$linear-gradient-dark: #E6E6E6;
$linear-gradient-light: #f7f7f7;

$max-width: 1680px;